@model List<OrderHistory>

<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-8 col-md-6 col-xs-offset-1">
            @if (Context.Request.Cookies["FirstName"].Count != 0)

            {
                <h1>Welcome @Context.Request.Cookies["FirstName"].First()</h1>
            }
        </div>
    </div>
    <h1>Order History</h1>
    <div class="table-responsive">
        <table class="table">
            <tr>
                <th>Order Id</th>
                <th>Date</th>
                <th>Product Id</th>
                <th>Product Name</th>
                <th>Quantity</th>
            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.OrderId</td>
                    <td>@item.Date</td>
                    <td>@item.ProductId</td>
                    <td>@item.ProductName</td>
                    <td>@item.Quantity</td>
                </tr>
            }
        </table>

    </div>
</div>